@model IEnumerable<OpenQbit.Inventory.Common.Models.TransferDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Batch.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distributer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qty)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Batch.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Distributer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qty)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
